body
{
    border-width: 5cm;
    border-radius: 20px;
    border:pink;
    padding: 20px;
    width: 200px;
    height: 150px;

    border-style: solid;
    border-color:pink ;
    text-align: center
}